<%- include("../partials/layout-start", {title: title}) %>
<%- include("../partials/menu") %>
<h1><%= title %></h1>

<div class="row">
    <div class="col-sm-8">
        <div class="card">
            <div class="card-body">

                <h5 class="card-title"><%= book.title %></h5>
                <p class="card-text"><%= book.description %>.</p>

                <div class="text-right">
                    <a class="btn btn-sm btn-primary" href="/books/update/<%= book.id %>">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </a>
                    <form action="/books/delete/<%= book.id %>" method="POST" class="d-inline">
                        <button class="btn btn-sm btn-danger">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </button>
                    </form>
                </div>

            </div>
        </div>
        Просмотров: <span class="counters">0</span>
    </div>
</div>

<%- include("../partials/layout-end") %>

<script>
    document.addEventListener("DOMContentLoaded", function(event) {
        const counterElem = document.querySelector(".counters");
        const bookId = location.pathname.split('/')[2];

        async function incrCounter() {
            const response = await fetch(`/counter/${bookId}/incr`, {method: 'POST'});
            return await response.json();
        }

        async function getCounter() {
            const response = await fetch(`/counter/${bookId}`, {method: 'GET'});
            const counter = await response.json();
            console.log(counter);
            if(!counterElem || !counter) return;
            counterElem.textContent = Number(counter.cnt);
        }

        incrCounter();
        getCounter();
    });
</script>